:{$PORT:80} {
    root * /srv
    encode gzip zstd {
        match {
            not path *.mp4 *.webm *.png *.jpg *.jpeg *.gif *.svg *.ico *.webp *.woff *.woff2
        }
    }
    try_files {path} {path}/ /index.html
    file_server
}
